.product_visual {
    width: 90px;
    height: 110px;
}

.result_products {
    display: flexbox;
    flex-direction: row;
    width: 238px;
    height: 333px;
}

.text-width-synopsis{

    font-size: 10px;
}