<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div *ngFor="let utilisateur of utilisateurs">
    {{utilisateurs | json}}
    <app-utilisateur-card [utilisateur]="utilisateur" (delete)="onDelete($event)" (edit)="onEdit($event)">
    </app-utilisateur-card>

    <app-utilisateur-formulaire *ngIf="utilisateur.id == editUtilisateur?.id" [default]="utilisateur">
    </app-utilisateur-formulaire>
</div>
<app-utilisateur-formulaire (finish)="onSave($event)"></app-utilisateur-formulaire>